*{
    padding: 0;
    margin: 0;
}
.logo{
    display: flex;
}
.navbar{
    background: white;
    font-family: "Arial Black";
    display: flex;
    align-items: center;
}
body{
    background: black;
}
header{
    font-family: "Arial Black";
    height: 80px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar {
    font-family: "Arial Black";
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}

.navbar a{
    font-size: 1rem;
    color: rgb(0, 0, 0);
    margin-left: 2rem;
}
#register{
    background-color: black;
    padding: 16px;
    border-radius: 8px;
    color: white;
}
.middle {
    color: white;
    font-size: 7rem;
    text-align: center;
    margin-top: 10%;
}
.subtitle {
    color: gray;
    text-align: center;
    position: absolute;
    margin-left: 35%;
    top: 55%;
}

footer {
    background-color: rgb(72, 71, 71);
    color: antiquewhite;
    height: 100px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.info{
    width: 500px;
    margin-left: 10px;
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
}